body {
	background-color: yellow;
}
h1 {
	font-size: 70px;
	color: green;
}
h2 {
	background-color: hotpink;
	font-size: 25px;
	color: blue;
}
h1, h2 {
	text-align: center;
	font-family: Comic Sans MS;
}
p {
	font-size: 22px;
	color: crimson;
}
